<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/index :: head}">
</head>

<body>

    <!--defining the header-->
    <header th:replace="~{layout/index :: header}">

    </header>

    <!--defining the sidebar and main content area-->
    <div class="d-flex">

        <!--sidebar area-->
        <div th:replace="~{layout/index :: sidebar}">

        </div>
        <!--main content area-->
        <div class="flex-grow-1 p-4 bg-light">

            <div class="row justify-content-overlay">
                <h2 class="col">Add New Book</h2>
                <a class="btn btn-outline-primary mb-3 col-3" href="/books">Back to Book List</a>
            </div>

            <div class="container mt-4 bg-white border" style="height: 500px; border-radius: 10px;">

                <form th:action="@{/book/add}" th:object="${book}" method="post" class="p-3 mt-3">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" th:field="*{title}" class="form-control" id="title"
                            placeholder="Enter book title" required>
                    </div>
                    <div class="mb-3">
                        <label for="author" class="form-label">Author</label>
                        <input type="text" th:field="*{author}" class="form-control" id="author"
                            placeholder="Enter author name" required>
                    </div>
                    <div class="mb-3">
                        <label for="isbn" class="form-label">ISBN</label>
                        <input type="text" th:field="*{isbn}" class="form-control" id="isbn"
                            placeholder="Enter ISBN number" required>
                    </div>
                    <div class="mb-3">
                        <label for="bookCategory" class="form-label">Category</label>
                        <select id="bookCategory" th:field="*{bookCategory}">
                            <option value="">Select Booke Category</option>
                            <option th:each="cat :${Categories}" th:value="${cat.category}" th:text="${cat.category}">
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="copies" class="form-label">Copies</label>
                        <input type="number" th:field="*{totalCopy}" class="form-control" id="copies"
                            placeholder="Enter number of copies" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Book</button>
                </form>

            </div>

        </div>
    </div>
</body>

</html>