<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/index :: head}"></head>

<body>

    <!--defining the header-->
    <header th:replace="~{layout/index :: header}">

    </header>

    <!--defining the sidebar and main content area-->
    <div class="d-flex">

        <!--sidebar area-->
        <div th:replace="~{layout/index :: sidebar}">

        </div>
        <!--main content area-->
        <div class="flex-grow-1 p-4 bg-light">

            <div class="row justify-content-overlay">
                <h2 class="col">Add New Member</h2>
                <a class="btn btn-outline-primary mb-3 col-3" th:href="@{/user}">Back to Members</a>
            </div>

            <div class="container mt-4 bg-white border" style="height: 500px; border-radius: 10px;">

                <form class="p-3 mt-3" th:action="@{/user/add}" th:object="${users}" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" th:field="*{name}" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" th:field="*{email}" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" th:field="*{phone}" id="phone" name="phone" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Membership Type</label>
                        <input type="text" class="form-control" th:field="*{membershipType}" id="membershipType"
                            name="MembershipType" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Member</button>
                </form>

            </div>

        </div>

    </div>

</html>