<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/index :: head}">
</head>

<body>

    <!--defining the header-->
    <header th:replace="~{layout/index :: header}">

    </header>

    <!--defining the sidebar and main content area-->
    <div class="d-flex">

        <!--sidebar area-->
        <div th:replace="~{layout/index :: sidebar}">

        </div>
        <!--main content area-->
        <div class="flex-grow-1 p-4 bg-light">

            <div class="row justify-content-overlay">
                <h2 class="col">Books</h2>
                <a class="btn btn-outline-primary mb-3 col-3" th:href="@{/book/add}">+ Add New Book</a>
            </div>

            <!--Success  massesge-->
            <div th:if="${success}" class="alert alert-success" role="alert" th:text="${success}">
                Success message goes here.</div>

            <div class="container mt-4 bg-white border" style="height: 500px; border-radius: 10px;">

                <form class="p-3 mt-3">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search books..." aria-label="Search books"
                            aria-describedby="button-search">
                        <button class="btn btn-outline-secondary" type="button" id="button-search"><i
                                class="fa-solid fa-search"></i></button>
                    </div>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>ISBN</th>
                            <th>Copies</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="book : ${books}">
                            <td th:text="${book.id}">1</td>
                            <td th:text="${book.title}">Book Title</td>
                            <td th:text="${book.author}">Author Name</td>
                            <td th:text="${book.isbn}">1234567890</td>
                            <td th:text="${book.createdAt}">Copies</td>

                            <td>
                                <a class="btn btn-sm-primary" th:href="@{'/books/edit/' + ${book.id}}">Edit</a>
                                <a class="btn btn-sm-secondary" th:href="@{'/books/delete/' + ${book.id}}"
                                    onclick="return confirm('Are you sure you want to delete this book?');">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</html>