<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/index :: head}">
</head>

<body>

    <!--defining the header-->
    <header th:replace="~{layout/index :: header}">

    </header>

    <!--defining the sidebar and main content area-->
    <div class="d-flex">

        <!--sidebar area-->
        <div th:replace="~{layout/index :: sidebar}">

        </div>
        <!--main content area-->
        <div class="flex-grow-1 p-4 bg-light">

            <div class="row justify-content-overlay">
                <h2 class="col">Books</h2>
                <a class="btn btn-outline-primary mb-3 col-3" th:href="@{/book/add}">+ Add New Book</a>
            </div>

            <!--Success  massesge-->
            <div th:if="${success}" class="alert alert-success" role="alert" th:text="${success}">
                Success message goes here.</div>

            <div class="container mt-4 bg-white border" style="border-radius: 10px;">

                <form class="p-3 mt-3" th:action="@{/book}" method="get">
                    <div class="input-group mb-3">
                        <input type="text" name="filter" class="form-control" placeholder="Search books name or author"
                            aria-label="Search books" aria-describedby="button-search">
                        <button class="btn btn-outline-secondary" type="submit" id="button-search"><i
                                class="fa-solid fa-search"></i></button>
                    </div>
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>ISBN</th>
                            <th>Copies</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="book : ${books}">
                            <td th:text="${book.id}"></td>
                            <td th:text="${book.title}"></td>
                            <td th:text="${book.author}"></td>
                            <td th:text="${book.isbn}"></td>
                            <td th:text="${book.createdAt}"></td>

                            <td>
                                <a class="btn btn-primary" th:href="@{'/book/edit/' + ${book.id}}">Edit</a>
                                <a class="btn btn-secondary" th:href="@{'/book/delete/' + ${book.id}}"
                                    onclick="return confirm('Are you sure you want to delete this book?');">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--Page No. discription-->
                <div class="d-flex justify-content-center mt-4">
                    <nav aria-label="Page navigation" th:if="${totalPages > 0}">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                <a class="page-link" th:href="@{/book(page=${currentPage - 1})}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages-1)}"
                                th:classappend="${i == currentPage} ? 'active'">
                                <a class="page-link" th:href="@{/book(page=${i})}" th:text="${i}">1</a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages-1} ? 'disabled'">
                                <a class="page-link" th:href="@{/book(page=${currentPage + 1})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</html>