<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/index :: head}">
</head>

<body>

    <!--defining the header-->
    <header th:replace="~{layout/index :: header}">

    </header>

    <!--defining the sidebar and main content area-->
    <div class="d-flex">

        <!--sidebar area-->
        <div th:replace="~{layout/index :: sidebar}">

        </div>
        <!--main content area-->
        <div class="flex-grow-1 p-4 bg-light">

            <h1>Welcome to the Library Management Dashboard</h1>
            <p>Manage books, members, and borrowing easily.</p>

            <!--card area-->
            <div class="container">
                <div class="row mt-4 justify-content-evenly">
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-1">
                                        <i class="fa-solid fa-book"></i>
                                    </div>
                                    <div class="col">
                                        <h5 class="card-title" th:text="${totalBooks}">Books</h5>
                                        <p class="card-text">total books</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="fa-solid fa-users"></i>
                                    </div>
                                    <div class="col">
                                        <h5 class="card-title" th:text="${totalMembers}">Member</h5>
                                        <p class="card-text">total member</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="fa-solid fa-money-check-dollar"></i>
                                    </div>
                                    <div class="col">
                                        <h5 class="card-title" th:text="${totalLoans}">Loan</h5>
                                        <p class="card-text">Active Loans</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                    </div>
                                    <div class="col">
                                        <h5 class="card-title" th:text="${overdue}">Overdue</h5>
                                        <p class="card-text">overdue books</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--Char Management Area-->
            <div class="d-flex mt-4" style="height: 300px;">

                <div class="container border bg-white ms-2 me-3" style="height: 300px;">
                    <canvas id="bookChart" width="400" height="300"></canvas>
                </div>
                <div class="container border ms-3 me-2 bg-white" style="height: 300px;">
                    <canvas id="availableChart" width="400" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/chart-ajax.js}"></script>
</body>

</html>